{% extends "headermaipatana.html" %}
{% block body %}
<div class="card-content">
    <center><h1>404</h1></center>
    <h2 class="card-title">What are you looking for either not here or has been moved.</h2>
    <h2 class="card-text">ทางเราได้ทำการปรับเปลี่ยน website ใหม่ url ถูกเปลี่ยนใหม่ทั้งหมด ต้องขออภัยในความไม่สะดวกด้วยครับ</h2>
    <h3 class="card-text">ท่านสามารถกดเข้าไปหาบทความได้จากใน</h3>
    <div><center>
        <a class="btn btn-default" href="{{ url_for('posts') }}">blogs</a>
        <a class="btn btn-default" href="{{ url_for('tutorials') }}">tutorials</a>
        <a class="btn btn-default" href="{{ url_for('projects') }}">projects</a>
    </center></div>
</div>
{% endblock %}
