<div>
	<h4 class="card-title"><center>สามารถติดตามผมได้ที่</center></h4>
</div>
<div>
	<hr style="border-top: dotted 1px;" />
	<p class="card-text"><a href="https://www.facebook.com/maipatanapage/" target="_blank">
		<span class="fa fa-facebook-official fa-lg" aria-hidden="true" style="color:white"></span></a> Facebook</p>
	<p class="card-text"><a href="https://www.youtube.com/channel/UCuyFN3BLye7lKg8BfYYJ5vg" target="_blank">
		<span class="fa fa-youtube fa-lg" aria-hidden="true" style="color:white"></span></a> Youtube</p>
</div>
