<div class="card-home card-block">
    <div class="card-title">
        <span class="fa fa-desktop fa-2x" aria-hidden="true"></span>
    </div>
    <div class="card-text">
        <div>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs nav-justified" role="tablist">
            <li role="presentation" class="active"><a href="#energy" aria-controls="energy" role="tab"
                                                      data-toggle="tab"><h4>energy</h4></a></li>
            <li role="presentation"><a href="#gh" aria-controls="gh" role="tab" data-toggle="tab"
                                       ><h4>grasshopper</h4></a></li>
            <li role="presentation"><a href="#py" aria-controls="py" role="tab" data-toggle="tab"
                                       ><h4>python</h4></a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="energy"> <!-- Energy tab Content -->
                <div><h3>
                    Recent tutorials:
                </h3>
                {% for post in energy %}
                    <p><a href="{{ url_for('tutorial', name=post.path.replace('blogs/', '')) }}"><strong>{{ post.title }} </strong></a></p>
                {% endfor %}
                </div>
                <hr style="border-top: dotted 1px;" />
                <div>
                    <h3>
                        ottv:
                    </h3>
                {% for post in ottv %}
                    <p><a href="{{ url_for('tutorial', name=post.path.replace('blogs/', '')) }}"><strong>{{ post.title }} </strong></a></p>
                {% endfor %}
                </div>
                <hr style="border-top: dotted 1px;" />
                <div>
                    <h3>
                        simulation:
                    </h3>
                {% for post in simulation %}
                    <p><a href="{{ url_for('tutorial', name=post.path.replace('blogs/', '')) }}"><strong>{{ post.title }} </strong></a></p>
                {% endfor %}
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="gh"> <!-- Grasshopper tab Content -->
                <div><h3><a href="#">
                    การหาค่า Lux ด้วย LB+HB
                </a></h3></div>
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Uj9PDaNi2AI"
                          frameborder="0" allowfullscreen></iframe>
                </div>
                <hr style="border-top: dotted 1px;" />
                <div><h3>
                    Recent tutorials:
                </h3>
                {% for post in grasshopper %}
                    <p><a href="{{ url_for('tutorial', name=post.path.replace('blogs/', '')) }}"><strong>{{ post.title }} </strong></a></p>
                {% endfor %}
                </div>
                <hr style="border-top: dotted 1px;" />
                <div><h3>
                    Playlist:
                </h3>
                  <p><a href="https://www.youtube.com/embed/videoseries?list=PLgQM8gTApgUyyXE-GdWUWEL9nJIzOZGz2">Grasshopper เบื้องต้น</a></p>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="py"> <!-- Python tab Content -->
                <div><h3>
                    Recent tutorials:
                </h3>
                {% for post in python %}
                    <p><a href="{{ url_for('tutorial', name=post.path.replace('blogs/', '')) }}"><strong>{{ post.title }} </strong></a></p>
                {% endfor %}
                </div>
                <hr style="border-top: dotted 1px;" />
                <div>
                    <h3>
                        basic:
                    </h3>
                {% for post in basicpy %}
                    <p><a href="{{ url_for('tutorial', name=post.path.replace('blogs/', '')) }}"><strong>{{ post.title }} </strong></a></p>
                {% endfor %}
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
