<div class="card-home card-block">
    <div class="card-title">
        <span class="glyphicon glyphicon-pencil fa-2x" aria-hidden="true"></span>
    </div>
    <div class="card-text">
        <h3>Popular:</h3>
            <a href="{{ url_for('post', name='new new') }}"><h4>Title:</h4></a>
            <img src="{{ url_for('static', filename = 'images/maipatanalogo.jpg')}}" alt="maipatana">
            <p>Description:</p>
        <hr style="border-top: dotted 1px;" />
        <h3>Recent blogs:</h3>
        {% for post in blogs %}
            <p><a href="{{ url_for('post', name=post.path.replace('blogs/', '')) }}"><strong>{{ post.title }} </strong></a>{{ post.date }}</p>
        {% endfor %}
        <hr style="border-top: dotted 1px;" />
        <h3>tags: </h3>|
        {% for i in tags %}
             <a href="{{ url_for('tags', tag=i) }}"><strong>  {{ i }} </strong></a>|
        {% endfor %}
    </div>
</div>
