<div>
    <h2 class="card-title"><center>mymessage</center></h2>
</div>
<div>
    <hr style="border-top: dotted 1px;" />
    <p class="card-text">ผมได้เปลี่ยนโครงสร้างของ website ทั้งหมดนะครับ ฉะนั้นบางโพสอาจจะไม่ได้อยู่ที่ url เดิม แต่ยังอยู่แน่นอนครับ ลองหาดู ถ้าไม่หาเจอก็ส่งข้อความมาถามผมได้</p>
    <p class="card-text">ถ้ามีข้อเสนอแนะอะไรก็ส่งข้อความมาได้นะครับ</p>
    <p class="card-text">หลักๆที่เปลี่ยนไปก็คือ</p>
    <ul>
        <li>เปลี่ยน web framework จาก Wordpress มาเป็น Flask</li>
        <li>เปลี่ยนคอมเม้นจาก Disqus มาเป็น Facebook</li>
        <li>เปลี่ยนตำแหน่ง url ทั้งหมด</li>
        <li>เปลี่ยนรูปร่างหน้าตา สี layout</li>
        <li>เพิ่ม/แยก ส่วน tutorials กับ projects ออกมา</li>
    </ul>
    <p class="card-text">2016/11/22</p>
    <hr style="border-top: dotted 1px;" />
</div>
