<div class="row" id="socialshare">
    <!-- facebook -->
    <div class="social-share">
    <div class="fb-like"
         data-href="https://maipatana.me{{request.path}}"
         data-layout="button_count"
         data-action="like"
         data-size="small"
         data-show-faces="true" style="vertical-align:middle;"></div>
    <div class="fb-share-button"
         data-href="https://maipatana.me{{request.path}}"
         data-layout="button_count"
         data-action="share"
         data-size="small" style="vertical-align:middle;"></div>
    <!-- twitter -->
    <a href="https://twitter.com/share?url=https://maipatana.me{{request.path}}&amp;text=[maipatana's%20blog]%20&amp;hashtags=maipatana&amp;via=maipatana"
       class="twitter-share-button" data-show-count="false" style="vertical-align:middle;">Tweet</a><script async src="https://platform.twitter.com/widgets.js"></script>
    <!-- google plus -->
    <div class="g-plus" data-action="share" data-href="https://maipatana.me{{request.path}}" style="vertical-align:middle;"></div>
    </div>
</div>

