{% extends "headermaipatana.html" %}
{% block body %}
	<hr style="margin: 0;color:#999">
		<h2 class="title" style="padding-bottom:5px;color:#999"><center>
			about me
		</center></h2>
	<hr style="margin: 0;color:#999">
	<div class="row" style="margin-top:15px;">
		<div class="col-md-4">
			<div class="card card-block">
				<h2 class="card-title"><center>whatisthis?</center></h2>
			</div>
			<div class="card card-block">
			<p class="card-text">สวัสดีครับ ผมชื่อ พัฒนา นะครับ ชื่อเล่นชื่อ ใหม่</p>
			</div>
			<div class="card card-block">
			<p class="card-text">Blog นี้เป็นที่ๆผมเขียนเรื่องต่างๆที่ผมอยากเขียน ส่วนมากเป็นเรื่องเกี่ยวกับสิ่งที่ผมคิด แล้วก็มีอีกส่วนก็คือ Tutorial นะครับ</p>
			</div>
			<div class="card card-block">
			<h4 class="card-title">สามารถติดตามผมได้ที่</h4>
			<p class="card-text">Facebook:</p>
			<p class="card-text">Youtube:</p>
			</div>
		</div>
		<div class="col-md-8">
 
		</div>
	</div>
{% endblock %}