<!DOCTYPE html>
<html lang="en">
<head>
<meta charset = "utf-8">
	<title>maipatana's {% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<link href = "{{ url_for('static', filename = 'css/bootstrap.css')}}" rel="stylesheet">
	<link href = "{{ url_for('static', filename = 'css/codehilite.css')}}" rel="stylesheet">
	<link href = "{{ url_for('static', filename = 'css/font-awesome.css')}}" rel="stylesheet">
	<link rel = "shortcut icon" href = "{{ url_for('static', filename = 'favicon.ico')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename = 'fonts/thsarabunnew.css')}}"/>
</head>
<body style="min-height: 100%; font-family: 'THSarabunNew', sans-serif;
	background-color: #9fb39f; color: #1a1a1a; margin: 0 auto; max-width: 900px; padding: 10px">
	<div class="container-fluid">
		<header>
			{% include "_navbar.html" %}
		</header>
	{% block body %}{% endblock %}
	</div>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
<footer class="text-center">
	{% include "_footer.html" %}
</footer>
</html>
