<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset = "utf-8">
	<title>maipatana's home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta property="fb:app_id" content="1386955211319076" />
	<meta name="description" content="maipatana's blog เป็นเว็บที่เขียนเกี่ยวกับสถาปัตยกรรม สังคม และอื่นๆ และมีส่วนของ tutorials และ projects เพื่อแบ่งปันเรื่องราวต่างๆ" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@maipatana" />
	<meta name="twitter:creator" content="@maipatana" />
	<meta property="og:url"                content="https://maipatana.me/" />
	<meta property="og:type"               content="website" />
	<meta property="og:title"              content="maipatana's blog" />
	<meta property="og:description"        content="maipatana's blog เป็นเว็บที่เขียนเกี่ยวกับสถาปัตยกรรม สังคม และอื่นๆ และมีส่วนของ tutorials และ projects เพื่อแบ่งปันเรื่องราวต่างๆ" />
	<meta property="og:image"              content="http://maipatana.me{{ url_for('static', filename='images/maipatanalogo.jpg') }}" />
	<meta property="og:image:secure_url" content="https://maipatana.me{{ url_for('static', filename='images/maipatanalogo.jpg') }}" /> 
	<meta property="og:image:width" content="1200" /> 
	<meta property="og:image:height" content="900" />
	<meta property="og:image:type" content="image/jpeg" /> 
	<link href = "{{ url_for('static', filename = 'css/bootstrap.css')}}" rel="stylesheet">
	<link href = "{{ url_for('static', filename = 'css/font-awesome.css')}}" rel="stylesheet">
	<link rel = "shortcut icon" href = "{{ url_for('static', filename = 'favicon.ico')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename = 'fonts/thsarabunnew.css')}}"/>
</head>
<header>
{% include "_navbarhome.html" %}
<style>
	a {color:#337ab7;}
</style>
</header>
<br><br><br>
<body style="font-family: 'THSarabunNew', sans-serif; background-color: #9fb39f; color: #1a1a1a; margin: 0 auto;
 max-width:100%; padding: 00px">
<!-- Return to Top -->
<a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>
	<div class = "container" style="min-height: 100vh; width: 100%;">
		<div class="row">
			<div class="col-md-4">
				{% include "_homeblogs.html" %}
			</div>
			<div class="col-md-4">
				{% include "_hometutorials.html" %}
			</div>
			<div class="col-md-4">
				{% include "_homeprojects.html" %}
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/backtotop.js') }}"></script>
</body>
<footer class="text-center" id="footer">
	{% include "_footer.html" %}
</footer>
</html>
