<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset = "utf-8">
	<title>maipatana's home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<link href = "{{ url_for('static', filename = 'css/bootstrap.css')}}" rel="stylesheet">
	<link href = "{{ url_for('static', filename = 'css/font-awesome.css')}}" rel="stylesheet">
	<link rel = "shortcut icon" href = "{{ url_for('static', filename = 'favicon.ico')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename = 'fonts/thsarabunnew.css')}}"/>
</head>
<header>
{% include "_navbarhome.html" %}
</header>
<br><br><br>
<body style="font-family: 'THSarabunNew', sans-serif; background-color: #9fb39f; color: #1a1a1a; margin: 0 auto;
 max-width:100%; padding: 10px">
	<div class = "container" style="min-height: 100%; width: 100%;">
		<div class="row">
			<div class="col-md-4">
				{% include "_homeblogs.html" %}
			</div>
			<div class="col-md-4">
				{% include "_hometutorials.html" %}
			</div>
			<div class="col-md-4">
				{% include "_homeprojects.html" %}
			</div>
		</div>
	</div>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<style>
		a {color:#b32d00;}
	</style>
</body>
<footer class="text-center">
	{% include "_footer.html" %}
</footer>
</html>
