{% extends "headermaipatana.html" %}
{% block title %}
    {% if tag %}
        {{ tag }} - maipatana
    {% elif post %}
        {{ post.title }} - maipatana
    {% else %}
        maipatana's {{ cat }}
    {% endif %}
{% endblock %}
{% block head %}
<meta name="description" content="{{ post.description }}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@maipatana" />
<meta name="twitter:creator" content="@maipatana" />
<meta property="og:url"                content="https://maipatana.me{{request.path}}" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="{{ post.title }} - maipatana" />
<meta property="og:description"        content="{{ post.description }}" />
<meta property="og:image"              content="https://maipatana.me{{ post.image }}" />
<meta property="article:published_time" content="{{ post.date }}" />
<meta property="article:section" content="{{ post.cats }}" />
<meta property="og:site_name" content="maipatana" />
{% for i in post.tags %}
<meta property="article:tag" content="{{i}}" />
{% endfor %}
{% endblock %}
{% block body %}
<!-- PageTitle -->
	{% include "_blogtitle.html"%}
<!-- End PageTitle -->
<!-- Page Body -->
<style>
    a {color:#337ab7;}
</style>
	<div class="row" style="margin-top:15px;">
        <div class="col-md-12">
            <div class="row-full">
                <div class="card-content">
                        <p class="card-text"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date }} |
                        <a href="#socialshare" style="color:#1a1a1a;">
                            <i class="fa fa-share-alt fa-lg" aria-hidden="true"></i></a>
                        </p>
                    {{ post.html|safe }}
                </div>
                    <!-- Share Button -->
                <div style="margin-left:20px">
                    {% include "_socialshare.html" %}

                    <!-- End Share -->
                <br>
                <p><i class="fa fa-tags" aria-hidden="true"></i> |
                    {% for i in post.tags %}
                         <a href="{{ url_for('tags', tag=i) }}" style="color:white;">  {{ i }}</a> |
                    {% endfor %}
                </p>
                </div>
                <div class="card-comment">
                    <center>
                        <div class="fb-comments" data-href="https://maipatana.me{{request.path}}" data-width="600" data-numposts="5"></div>
                    </center>
                </div>
            </div>
        </div>
    </div>
<!-- End Body -->
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=363234634013447";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<script src="https://apis.google.com/js/platform.js" async defer>
    {lang: 'en-GB'}
</script>
<!-- End SideBar -->
{% endblock %}
