{% extends "headermaipatana.html" %}
{% block title %}
    {% if tag %}
        {{ tag }} - maipatana
    {% elif post %}
        {{ post.title }} - maipatana
    {% else %}
        maipatana's {{ cat }}
    {% endif %}
{% endblock %}
{% block head %}
<meta name="description" content="Blog นี้เป็นที่ๆผมเขียนเรื่องต่างๆที่ผมอยากเขียน ส่วนมากเป็นเรื่องเกี่ยวกับสิ่งที่ผมคิด ทั้งเรื่องสถาปัตยกรรม สังคม และอื่นๆ" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@maipatana" />
<meta name="twitter:creator" content="@maipatana" />
<meta property="og:url"                content="https://maipatana.me{{request.path}}" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="tutorials" />
<meta property="og:description"        content="Blog นี้เป็นที่ๆผมเขียนเรื่องต่างๆที่ผมอยากเขียน ส่วนมากเป็นเรื่องเกี่ยวกับสิ่งที่ผมคิด ทั้งเรื่องสถาปัตยกรรม สังคม และอื่นๆ" />
<meta property="og:image"              content="{{ url_for('static', filename='images/maipatanalogo.jpg') }}" />
{% endblock %}
{% block body %}
<!-- PageTitle -->
	{% include "_blogtitle.html"%}
<!-- End PageTitle -->
<!-- Page Body -->
	<div class="row" style="margin-top:15px;">
		<div class="col-md-8 col-md-push-4">
			<!-- Start Blog Posts -->
			{% include "_bloglist.html"%}
		</div>
<!-- End Body -->

<!-- SideBar -->
		<div class="col-md-4 col-md-pull-8">
			<div>
				<center><h2 class="card-title">whoami</h2></center>
			</div>
			<div>
				<hr style="border-top: dotted 1px;" />
				<p class="card-text">สวัสดีครับ</p><p class="card-text"> ผมชื่อ พัฒนา ชื่อเล่นชื่อ ใหม่ นะครับ</p>
				<p class="card-text">Blog นี้เป็นที่ๆผมเขียนเรื่องต่างๆที่ผมอยากเขียน ส่วนมากเป็นเรื่องเกี่ยวกับสิ่งที่ผมคิด ทั้งเรื่องสถาปัตยกรรม สังคม และอื่นๆ</p>
				<hr style="border-top: dotted 1px;" />
			</div>
			{% include "_news.html "%}
		</div>
	</div>
<!-- End SideBar -->
{% endblock %}
