{% extends "headermaipatana.html" %}
{% block title %}
    {% if tag %}
        {{ tag }} - maipatana
    {% elif post %}
        {{ post.title }} - maipatana
    {% else %}
        maipatana's {{ cat }}
    {% endif %}
{% endblock %}
{% block head %}
<meta name="description" content="จริงๆควรเรียก mini projects มากกว่า เพราะผมชอบทำเรื่องโน้นเรื่องนี้ เล่นนั่นนี่ไปเรื่อย" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@maipatana" />
<meta name="twitter:creator" content="@maipatana" />
<meta property="og:url"                content="https://maipatana.me{{request.path}}" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="maipatana's projects" />
<meta property="og:description"        content="จริงๆควรเรียก mini projects มากกว่า เพราะผมชอบทำเรื่องโน้นเรื่องนี้ เล่นนั่นนี่ไปเรื่อย" />
<meta property="og:image"              content="http://maipatana.me{{ url_for('static', filename='images/maipatanalogo.jpg') }}" />
<meta property="og:image:secure_url" content="https://maipatana.me{{ url_for('static', filename='images/maipatanalogo.jpg') }}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="900" />
<meta property="og:image:type" content="image/jpeg" />
{% endblock %}
{% block body %}
<!-- PageTitle -->
	{% include "_blogtitle.html"%}
<!-- End PageTitle -->
<!-- Page Body -->
	<div class="row" style="margin-top:15px;">
		<div class="col-md-8 col-md-push-4">
			<!-- Start Blog Posts -->
			{% include "_bloglist.html"%}
		</div>
<!-- End Body -->

<!-- SideBar -->
		<div class="col-md-4 col-md-pull-8">
			<div>
				<h2 class="card-title"><center>whatisthis</center></h2>
			</div>
			<div>
				<hr style="border-top: dotted 1px;" />
				<p class="card-text">projects คืออะไร?</p>
				<p class="card-text">จริงๆควรเรียก mini projects มากกว่า เพราะผมชอบทำเรื่องโน้นเรื่องนี้ เล่นนั่นนี่ไปเรื่อย</p>
				<p class="card-text">เช่นเขียน python เล่น หรือทำ arduino เล่น</p>
				<p class="card-text">แต่ก็เป็นโปรเจคที่ผมอยากจะแชร์เผื่อคนอื่นเอาไปทำต่อหรือหาประโยชน์ได้ครับ</p>
				<hr style="border-top: dotted 1px;" />
			</div>
			{% include "_news.html "%}
		</div>
	</div>
<!-- End SideBar -->
{% endblock %}
