{% extends "layout.html" %}
{% block title %}maipatana's tutorials{% endblock %}
{% block head %}
<meta name="description" content="ส่วนของ tutorials จะเกี่ยวกับเทคนิคต่างๆที่ผมอยากจะแชร์ มีทั้งที่เป็นแบบซีรีย์ยาวและเรื่องเล็กๆน้อยๆครับ" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@maipatana" />
<meta name="twitter:creator" content="@maipatana" />
<meta property="og:url"                content="https://maipatana.me{{request.path}}" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="maipatana's tutorials" />
<meta property="og:description"        content="ส่วนของ tutorials จะเกี่ยวกับเทคนิคต่างๆที่ผมอยากจะแชร์ มีทั้งที่เป็นแบบซีรีย์ยาวและเรื่องเล็กๆน้อยๆครับ" />
<meta property="og:image"              content="http://maipatana.me{{ url_for('static', filename='images/maipatanalogo.jpg') }}" />
<meta property="og:image:secure_url" content="https://maipatana.me{{ url_for('static', filename='images/maipatanalogo.jpg') }}" /> 
<meta property="og:image:width" content="1200" /> 
<meta property="og:image:height" content="900" />
<meta property="og:image:type" content="image/jpeg" /> 
{% endblock %}
{% block body %}
<!-- PageTitle -->
	{% include "_blogtitle.html"%}
<!-- End PageTitle -->
<!-- Page Body -->
	<div class="row" style="margin-top:15px;">
		<div class="col-md-8 col-md-push-4">
			<!-- Start Blog Posts -->
			{% include "_bloglist.html"%}
		</div>
<!-- End Body -->

<!-- SideBar -->
		<div class="col-md-4 col-md-pull-8">
			<div>
				<center><h2 class="card-title">whatisthis</h2></center>
			</div>
			<div>
				<hr style="border-top: dotted 1px;" />
				<p class="card-text">tutorials คืออะไร?</p>
				<p class="card-text">ส่วนของ tutorials จะเกี่ยวกับเทคนิคต่างๆที่ผมอยากจะแชร์ มีทั้งที่เป็นแบบซีรีย์ยาวและเรื่องเล็กๆน้อยๆครับ</p>
				<hr style="border-top: dotted 1px;" />
			</div>
			{% include "_news.html" %}
		</div>
	</div>
<!-- End SideBar -->
{% endblock %}
